Repository skyra-project/skyra.pw, pull requests merged in 2019-12, with the labels that each got.

#33 fix file permissions (root cause of git changes)
  .editorconfig
  .env
  .env.development
  .github/CODE_OF_CONDUCT.md
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/labels.yml
  .github/workflows/labelsync.yml
  .github/workflows/lint.yml
Labels: Meta: Bike-Shedding

#34 feat: plethora of homepage fixes
  .env
  .eslintignore
  .eslintrc.json
  jsconfig.json
  package.json
  src/assets/images/features/fun.png
  src/assets/images/features/moderation.png
  src/assets/images/features/pokemon.png
  src/assets/images/features/tools.png
  src/assets/images/features/weeb.png
  src/components/AuthenticatedRoute.js
  src/components/CssBaseline.js
  src/components/Footer.js
  src/components/GeneralPage.js
  src/components/Link.js
  src/components/Select/SelectOne.js
  src/components/SelectDuration.js
  src/components/SelectInteger.js
  src/components/UnauthenticatedRoute.js
  src/components/UserMenu.js
  src/index.js
  src/meta/util.js
  src/pages/Commands.js
  src/pages/Dashboard/LogsPage.js
  src/pages/Dashboard/Moderation/Index.js
  src/pages/Dashboard/Root.js
  src/pages/Dashboard/SettingsPage.js
  src/pages/Dashboard/Starboard.js
  src/pages/Index.js
  src/pages/IndexTexts.js
  src/pages/Status.js
  src/react-app-env.d.ts
  src/serviceWorker.js
  tsconfig.json
  yarn.lock
Labels: Meta: BugFix

#36 Fix some bugs
  src/components/CssBaseline.js
  src/components/Footer.js
  src/components/GeneralPage.js
  src/components/Link.js
  src/components/SelectDuration.js
  src/meta/util.js
  src/pages/Dashboard/Filter/Capitals.js
  src/pages/Dashboard/Filter/Index.js
  src/pages/Dashboard/Filter/Invites.js
  src/pages/Dashboard/Filter/Links.js
  src/pages/Dashboard/Filter/Messages.js
  src/pages/Dashboard/Filter/NewLines.js
  src/pages/Dashboard/Filter/Reactions.js
  src/pages/Index.js
Labels: Status: WIP

#42 Random changes
  src/components/GeneralPage.js
  src/components/GuildIcon.js
  src/meta/theme.js
  src/pages/Index.js
Labels: Status: WIP

#65 Add Music Page
  .env
  .env.development
  package.json
  src/components/GeneralPage.js
  src/components/Root.js
  src/meta/constants.js
  src/pages/Dashboard/Root.js
  src/pages/Music/Music.js
  yarn.lock
Labels: Meta: Feature, Status: Needs Testing, Status: Review Ready
