Repository skyra-project/skyra.pw, pull requests merged in 2020-11, with the labels that each got.

#198 refactor: update dashboard for settings gateway removal in API
  package.json
  src/components/pages/Settings/ChannelSettings.tsx
  src/components/pages/Settings/EventSettings.tsx
  src/components/pages/Settings/Filter/FilterCapitalsSettings.tsx
  src/components/pages/Settings/Filter/FilterInvitesSettings.tsx
  src/components/pages/Settings/Filter/FilterLinksSettings.tsx
  src/components/pages/Settings/Filter/FilterMessagesSettings.tsx
  src/components/pages/Settings/Filter/FilterNewLineSettings.tsx
  src/components/pages/Settings/Filter/FilterReactionSettings.tsx
  src/components/pages/Settings/Filter/FilterWordSettings.tsx
  src/components/pages/Settings/MessageSettings.tsx
  src/components/pages/Settings/ModerationSettings.tsx
  src/components/pages/Settings/RoleSettings.tsx
  src/components/pages/Settings/StarboardSettings.tsx
  src/components/pages/Settings/SuggestionSettings.tsx
  src/components/presentational/Layout/Settings/Dashboard.tsx
  src/components/selects/SelectChannel.tsx
  src/components/selects/SelectDuration.tsx
  src/components/selects/SelectRole.tsx
  src/config/SettingsDataEntries.ts
  src/config/types/ConfigurableData.d.ts
  src/config/types/GuildSettings.ts
  src/contexts/Settings/GuildSettingsChangesContext.tsx
  src/pages/oauth/callback.tsx
  src/tsconfig.json
  src/utils/constants.ts
  src/utils/util.ts
  yarn.lock
Labels: Meta: Refactor

#205 fix: fixed keys for fixed configurableKeys in backend
  src/components/pages/Settings/CustomCommandSettings.tsx
  src/components/pages/Settings/Filter/FilterCapitalsSettings.tsx
  src/components/pages/Settings/Filter/FilterInvitesSettings.tsx
  src/components/pages/Settings/Filter/FilterLinksSettings.tsx
  src/components/pages/Settings/Filter/FilterMessagesSettings.tsx
  src/components/pages/Settings/Filter/FilterNewLineSettings.tsx
  src/components/pages/Settings/Filter/FilterReactionSettings.tsx
  src/components/pages/Settings/Filter/FilterWordSettings.tsx
  src/components/pages/Settings/MessageSettings.tsx
  src/components/pages/Settings/RoleSettings.tsx
  src/components/pages/Settings/StarboardSettings.tsx
  src/components/pages/Settings/SuggestionSettings.tsx
  src/config/SettingsDataEntries.ts
  src/config/types/ConfigurableData.d.ts
  src/config/types/GuildSettings.ts
  src/utils/util.ts
Labels: Meta: BugFix

#206 feat: updated admin, mod, and dj roles to arrays
  src/components/pages/Settings/RoleSettings.tsx
  src/components/selects/SelectRoles.tsx
  src/config/SettingsDataEntries.ts
  src/config/types/GuildSettings.ts
Labels: Meta: Feature, SEM: Major, Status: Ready To Merge, Type: Enhancement
